openapi: 3.1.0
info:
  title: Live Tennis API
  version: "1.0"
  contact:
    name: Live Tennis API
    url: https://livetennisapi.com
  license:
    name: MIT
    url: https://github.com/livetennisapi/openapi/blob/main/LICENSE
  termsOfService: https://livetennisapi.com/terms
  description: |
    Real-time tennis scores, player data, match-winner market prices, and
    model-driven match analysis. Read-only. Coverage is every tour equally:
    ATP, WTA, Challenger, ITF and the junior Grand Slam draws.

    Access is tiered (FREE / BASIC / PRO / ULTRA). Each tier includes
    everything in the tiers below it; the concrete deltas are:

    `FREE` — self-serve, no card (https://livetennisapi.com/subscribe/free).
    Live and upcoming matches, current scores, players, fixtures, and your own
    usage stats. 30 requests/minute, 1,000/day. No historical results, no
    market prices, no model fields, no WebSocket.

    `BASIC` — adds historical data: the completed-match listing
    (`/history/matches`, and `status=completed` on `/matches`) and the
    per-match point-by-point tape with the per-point model win-probability
    (`/history/matches/{matchId}`). 60 requests/minute, 10,000/day.

    `PRO` — adds match events (`/matches/{matchId}/events`), market prices
    (`/markets`, `/markets/{matchId}/prices`) and the pre-built monthly bulk
    history packages (`/history/packages`). 300 requests/minute, 100,000/day.

    `ULTRA` — adds model analysis (`/matches/{matchId}/analysis`), the live
    model fields (`win_probability_p1`, `danger`) on every score object, the
    WebSocket push feed at `/ws`, and outbound webhooks (direct keys).
    600 requests/minute, 500,000/day.

    A call above your tier returns `403 {"error":"upgrade_required"}` — never
    a silent empty result.

    The `/history/*` endpoints are also sold standalone as the **Historical
    Data API** (no live-API subscription required): **Starter** — single-match
    point-by-point tape reads via the API (tape plus the model win-probability
    per point), all tours (ATP/WTA/Challenger/ITF), one match per request, no
    bulk downloads; **Pro** — everything in Starter plus bulk monthly package
    downloads and higher rate limits; **Business** — everything in Pro plus
    year-scale archive exports, top rate limits and priority support. One-off
    1-month and 1-year access passes are available without a subscription.
    Plans and prices: https://livetennisapi.com/historical-tennis-data-api

    All timestamps are UTC ISO 8601 with a `Z` suffix. List endpoints return
    `{data, meta}`; single resources return the object directly. Ignore
    unknown fields — additive changes land within v1.

    A native WebSocket live feed (ULTRA) exists at `/ws` under the same base
    URL. Subscribe with `{"topics":["live-scores"]}` (or `"match:<id>"`); the
    server acks with a `subscribed` frame, then pushes `score` frames on every
    change plus a `ping` heartbeat roughly every 15s. Opt into extra signals
    with `{"topics":["live-scores"],"signals":["break_point"]}` to also receive
    `break_point` and `break_point_result` frames (schemas `BreakPoint` /
    `BreakPointResult`). Without `signals`, score frames only.
servers:
  - url: https://api.livetennisapi.com/api/public/v1
security:
  - bearerAuth: []
  - apiKeyHeader: []
paths:
  /health:
    get:
      summary: Liveness probe (no auth)
      operationId: healthCheck
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, const: ok }
                  version: { type: string, const: v1 }
  /matches:
    get:
      summary: List matches by lifecycle status (FREE)
      description: >-
        `status=live` and `status=upcoming` are the FREE current-state picture.
        `status=completed` pages historical results and is part of the paid
        History product — it requires BASIC (the same rule as
        `/history/matches`) and returns `403 upgrade_required` on a FREE key.
      operationId: listMatches
      parameters:
        - name: status
          in: query
          description: >-
            `live` (default) and `upcoming` are FREE; `completed` requires
            BASIC — paging completed results is the history surface.
          schema: { type: string, enum: [live, upcoming, completed], default: live }
        - $ref: "#/components/parameters/tour"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          description: Matches with latest score
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Match" }
                  meta: { $ref: "#/components/schemas/ListMeta" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/UpgradeRequired" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /matches/{matchId}:
    get:
      summary: Full match detail (FREE; +market PRO, +analysis ULTRA)
      operationId: getMatch
      parameters: [ { $ref: "#/components/parameters/matchId" } ]
      responses:
        "200":
          description: Match with score; `market` embed at PRO+, `analysis` embed at ULTRA
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MatchDetail" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/UpgradeRequired" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /matches/{matchId}/score:
    get:
      summary: Current score only — lowest-latency REST read (FREE)
      operationId: getMatchScore
      parameters: [ { $ref: "#/components/parameters/matchId" } ]
      responses:
        "200":
          description: Current score (ULTRA adds win_probability_p1 + danger)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Score" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /matches/{matchId}/events:
    get:
      summary: Match events, newest first (PRO)
      operationId: listMatchEvents
      parameters:
        - $ref: "#/components/parameters/matchId"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          description: Events
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Event" }
                  meta: { $ref: "#/components/schemas/ListMeta" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/UpgradeRequired" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /matches/{matchId}/analysis:
    get:
      summary: Model analysis for a match (ULTRA)
      operationId: getMatchAnalysis
      parameters: [ { $ref: "#/components/parameters/matchId" } ]
      responses:
        "200":
          description: Thesis + profile (either may be null)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Analysis" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/UpgradeRequired" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /players:
    get:
      summary: Search players by name (FREE)
      operationId: searchPlayers
      parameters:
        - name: search
          in: query
          schema: { type: string }
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          description: Players (ranked first; no stats object on the list)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Player" }
                  meta: { $ref: "#/components/schemas/ListMeta" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /players/{playerId}:
    get:
      summary: One player's bio + ranking + cached stats (FREE)
      operationId: getPlayer
      parameters:
        - name: playerId
          in: path
          required: true
          schema: { type: integer }
      responses:
        "200":
          description: Player with `stats` ({ratings, season})
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Player" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /markets:
    get:
      summary: Match-winner market(s) for a match (PRO)
      operationId: listMarkets
      parameters:
        - name: match_id
          in: query
          required: true
          schema: { type: integer }
      responses:
        "200":
          description: Markets
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Market" }
                  meta:
                    type: object
                    properties:
                      match_id: { type: integer }
                      count: { type: integer }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/UpgradeRequired" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /markets/{matchId}/prices:
    get:
      summary: Market + recent price ticks per side, newest first (PRO)
      operationId: getMarketPrices
      parameters:
        - $ref: "#/components/parameters/matchId"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          description: Market with `prices`
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Market" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/UpgradeRequired" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /history/matches:
    get:
      summary: Completed matches, newest first, with derived winner (BASIC)
      description: >-
        Requires BASIC on the live API, or any Historical Data API plan
        (Starter and up — see https://livetennisapi.com/historical-tennis-data-api).
        All tours. Filter to a date range with `from`/`to`.
      operationId: listCompletedMatches
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/playedFrom"
        - $ref: "#/components/parameters/playedTo"
      responses:
        "200":
          description: Completed matches (`winner` = 1|2|null, from final sets)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Match" }
                  meta: { $ref: "#/components/schemas/ListMeta" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/UpgradeRequired" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /history/matches/{matchId}:
    get:
      summary: Full point-by-point tape for one match, with per-point model win-probability (BASIC)
      description: >-
        The complete chronological tape of a completed match — every recorded
        score row including the model fields `win_probability_p1` and `danger`
        at that point — plus match metadata and the model profiles produced
        during the match. The model fields here are part of the paid History
        product by design, distinct from the ULTRA-gated LIVE model fields.
        One match per request. Requires BASIC on the live API, or the
        Historical Data API Starter plan and up.
      operationId: getMatchTape
      parameters: [ { $ref: "#/components/parameters/matchId" } ]
      responses:
        "200":
          description: The full tape (`match` + `tape` + `profiles` + `meta`)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/HistoryTape" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/UpgradeRequired" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /history/packages:
    get:
      summary: List the pre-built monthly bulk history packages (PRO)
      description: >-
        Bulk downloads are a heavier product than single-match tape reads.
        Requires PRO on the live API, or the Historical Data API Pro plan and
        up, or a one-off package access pass. A key that can read the tape but
        is not package-entitled receives `403 upgrade_required`.
      operationId: listHistoryPackages
      responses:
        "200":
          description: Ready packages, newest month first
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/HistoryPackage" }
                  meta:
                    type: object
                    properties:
                      count: { type: integer }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/UpgradeRequired" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /history/packages/{period}:
    get:
      summary: One monthly package — manifest, or the bulk file itself (PRO)
      description: >-
        Without `format` returns the package manifest (file set, counts,
        sha256). With `format=jsonl` or `format=csv` streams that file as an
        attachment. Same entitlement as `/history/packages`. 404 when the
        month has not been built yet — list available months first.
      operationId: getHistoryPackage
      parameters:
        - name: period
          in: path
          required: true
          description: Calendar month, `YYYY-MM`.
          schema: { type: string, pattern: '^\d{4}-\d{2}$' }
        - name: format
          in: query
          required: false
          description: Omit for the JSON manifest; set to download the file.
          schema: { type: string, enum: [jsonl, csv] }
      responses:
        "200":
          description: >-
            The manifest (no `format`), or the bulk file as an attachment
            (`format=jsonl` streams NDJSON, `format=csv` streams CSV).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/HistoryPackage" }
            application/x-ndjson:
              schema: { type: string, format: binary }
            text/csv:
              schema: { type: string, format: binary }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/UpgradeRequired" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /fixtures:
    get:
      summary: Upcoming scheduled fixtures, earliest first (FREE)
      operationId: listFixtures
      parameters:
        - $ref: "#/components/parameters/tour"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          description: Name-only fixtures (players not yet resolved to ids)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Fixture" }
                  meta: { $ref: "#/components/schemas/ListMeta" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: "Direct API key: Authorization: Bearer <key>"
    apiKeyHeader:
      type: apiKey
      in: header
      name: X-API-Key
  parameters:
    matchId:
      name: matchId
      in: path
      required: true
      schema: { type: integer }
    limit:
      name: limit
      in: query
      schema: { type: integer, default: 50, minimum: 1, maximum: 200 }
    offset:
      name: offset
      in: query
      schema: { type: integer, default: 0, minimum: 0 }
    playedFrom:
      name: from
      in: query
      required: false
      description: >-
        Earliest play date, `YYYY-MM-DD` or an ISO-8601 UTC datetime. A bare
        date covers that whole day. An unparseable value is a 400, never a
        silently unfiltered 200.
      schema: { type: string }
    playedTo:
      name: to
      in: query
      required: false
      description: >-
        Latest play date, same formats as `from` (a bare date includes
        everything played that day). `from` after `to` is a 400.
      schema: { type: string }
    tour:
      name: tour
      in: query
      description: >-
        Restrict results to one tour. Each value covers its singles and doubles
        draws, so `atp` includes ATP doubles and `juniors` covers the boys' and
        girls' Grand Slam draws. Omit for all tours. An unrecognised value is a
        400 rather than a silent pass-through, so a caller never receives a tour
        it did not ask for. Applied before pagination, so `meta.count` reflects
        the filtered set.
      schema:
        type: string
        enum: [atp, wta, challenger, itf, juniors]
  responses:
    BadRequest:
      description: Bad query parameter
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    Unauthorized:
      description: Missing, unknown, or disabled credentials
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    UpgradeRequired:
      description: Your tier doesn't unlock this endpoint
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    NotFound:
      description: No such resource, or no data yet
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    RateLimited:
      description: Rate limit exceeded (Retry-After header present)
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
  schemas:
    Error:
      type: object
      properties:
        error: { type: string }
    ListMeta:
      type: object
      properties:
        limit: { type: integer }
        offset: { type: integer }
        count: { type: integer }
    Score:
      type: object
      description: ULTRA adds win_probability_p1 + danger.
      properties:
        sets:
          type: array
          items: { type: integer }
        games:
          type: array
          description: "[games_p1, games_p2]; each a per-set list"
          items:
            type: array
            items: { type: integer }
        points:
          type: array
          description: >-
            In-game points as tennis strings ("0", "15", "40", "AD"). Entries
            can be NULL — observed live on completed matches, which also carry
            empty games arrays. Do not decode into non-nullable strings.
          items: { type: [string, "null"] }
        server: { type: [integer, "null"], enum: [1, 2, null] }
        is_tiebreak: { type: boolean }
        win_probability_p1: { type: [number, "null"] }
        danger: { type: [number, "null"] }
        timestamp: { type: [string, "null"], format: date-time }
    Player:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        tour:
          type: [string, "null"]
          description: >-
            The record's OWN tour, which is NOT the `tour` filter vocabulary.
            It is granular (`juniors_boys`, `juniors_girls`, `challenger_men`)
            where the filter is grouped (`juniors`, `challenger`), and a doubles
            team reports it UPPERCASE (`ATP`) where an individual reports
            lowercase (`atp`). Treat it as an opaque string; do not parse it into
            the filter enum.
        country: { type: [string, "null"] }
        ranking: { type: [integer, "null"] }
        ranking_points: { type: [integer, "null"] }
        ranking_movement: { type: [string, "null"], enum: [up, down, same, null] }
        hand: { type: [string, "null"], enum: [R, L, null] }
        backhand: { type: [integer, "null"], enum: [1, 2, null] }
        birthday: { type: [string, "null"], format: date }
        is_doubles_team: { type: boolean }
        data_completeness:
          type: object
          description: >-
            How much biographical detail is known for this player, so a consumer
            can distinguish "not in the feed" from "not yet fetched" without
            probing. Present on every player in a match payload. Lower tours
            carry far less of it than main tour.
          properties:
            known:
              type: [integer, "null"]
              description: >-
                Fields populated, of `of`. NULL on a doubles team, where
                per-player biography does not apply — distinct from `0`, which
                means the fields apply and none are known. Do not decode this
                into a non-nullable integer.
            of:
              type: [integer, "null"]
              description: Fields considered. NULL on a doubles team, as for `known`.
            missing:
              type: array
              description: Names of the unpopulated fields, e.g. ["backhand", "hand"].
              items: { type: string }
            note:
              type: string
              description: >-
                Present only when the object is not applicable, explaining why
                (e.g. a doubles team).
        stats:
          type: object
          description: Single-player endpoint only
          properties:
            ratings: { type: [object, "null"] }
            season: { type: [array, "null"] }
    Match:
      type: object
      properties:
        id: { type: integer }
        tournament: { type: string }
        surface: { type: [string, "null"], enum: [hard, clay, grass, null] }
        indoor: { type: boolean }
        format: { type: [string, "null"], enum: [BO3, BO5, null] }
        round: { type: [string, "null"] }
        status: { type: string, enum: [upcoming, live, completed, cancelled] }
        event_status: { type: [string, "null"] }
        is_doubles: { type: boolean }
        scheduled_time: { type: [string, "null"], format: date-time }
        players:
          type: object
          properties:
            p1: { $ref: "#/components/schemas/Player" }
            p2: { $ref: "#/components/schemas/Player" }
        score:
          oneOf:
            - { $ref: "#/components/schemas/Score" }
            - { type: "null" }
        winner:
          type: [integer, "null"]
          description: Completed matches only — derived from final sets
    MatchDetail:
      allOf:
        - { $ref: "#/components/schemas/Match" }
        - type: object
          properties:
            analysis:
              $ref: "#/components/schemas/Analysis"
              description: ULTRA only (absent below)
            market:
              oneOf:
                - { $ref: "#/components/schemas/Market" }
                - { type: "null" }
              description: PRO+ only (absent below)
    Analysis:
      type: object
      properties:
        thesis:
          type: [object, "null"]
          properties:
            pick_side: { type: integer, enum: [1, 2] }
            confidence: { type: [number, "null"] }
            win_probability_pick: { type: [number, "null"] }
            state: { type: [string, "null"], enum: [valid, confirmed, weakened, broken, null] }
            reasoning: { type: [string, "null"] }
            notes:
              type: object
              properties:
                matchup: { type: [string, "null"] }
                environment: { type: [string, "null"] }
                fatigue: { type: [string, "null"] }
            scenario_playbook: { type: [array, "null"] }
            created_at: { type: [string, "null"], format: date-time }
        profile:
          type: [object, "null"]
          properties:
            win_probability_p1: { type: [number, "null"] }
            expected_closeness: { type: [number, "null"] }
            volatility_rating: { type: [string, "null"], enum: [low, med, high, null] }
            key_factors: { type: [array, "null"], items: { type: string } }
            created_at: { type: [string, "null"], format: date-time }
    Market:
      type: object
      properties:
        id: { type: integer }
        question: { type: [string, "null"] }
        status: { type: [string, "null"], enum: [active, resolved, closed, null] }
        volume: { type: [number, "null"] }
        liquidity: { type: [number, "null"] }
        end_date: { type: [string, "null"], format: date-time }
        prices:
          type: array
          description: Prices endpoint / match detail only; newest first
          items: { $ref: "#/components/schemas/Price" }
    Price:
      type: object
      properties:
        side:
          type: [integer, "null"]
          description: 1 = p1's outcome, 2 = p2's
        bid: { type: [number, "null"] }
        ask: { type: [number, "null"] }
        mid: { type: [number, "null"] }
        spread: { type: [number, "null"] }
        timestamp: { type: [string, "null"], format: date-time }
    Event:
      type: object
      properties:
        type: { type: string, enum: [break, set_won, game_won, momentum_run] }
        player: { type: [integer, "null"], enum: [1, 2, null] }
        timestamp: { type: [string, "null"], format: date-time }
    Fixture:
      type: object
      properties:
        id: { type: integer }
        event_date: { type: [string, "null"], format: date }
        tour:
          type: [string, "null"]
          description: >-
            The record's OWN tour, which is NOT the `tour` filter vocabulary.
            It is granular (`juniors_boys`, `juniors_girls`, `challenger_men`)
            where the filter is grouped (`juniors`, `challenger`), and a doubles
            team reports it UPPERCASE (`ATP`) where an individual reports
            lowercase (`atp`). Treat it as an opaque string; do not parse it into
            the filter enum.
        tournament: { type: [string, "null"] }
        round: { type: [string, "null"] }
        surface: { type: [string, "null"] }
        player1_name: { type: [string, "null"] }
        player2_name: { type: [string, "null"] }
        status: { type: [string, "null"] }
    ModelProfile:
      type: object
      description: >-
        One model win-probability profile. On the history tape these are the
        profiles produced during the match, oldest first.
      properties:
        win_probability_p1: { type: [number, "null"] }
        expected_closeness: { type: [number, "null"] }
        volatility_rating: { type: [string, "null"], enum: [low, med, high, null] }
        key_factors: { type: [array, "null"], items: { type: string } }
        created_at: { type: [string, "null"], format: date-time }
    HistoryTape:
      type: object
      description: >-
        The full per-match history tape (BASIC, or Historical Data API
        Starter+). `tape` rows are Score objects and INCLUDE the model fields
        `win_probability_p1` and `danger` per point — on this product they are
        part of the tape itself, not an ULTRA upsell.
      properties:
        match:
          $ref: "#/components/schemas/Match"
          description: Match metadata with the final score embedded.
        tape:
          type: array
          description: Chronological score rows, one per recorded point state.
          items: { $ref: "#/components/schemas/Score" }
        profiles:
          type: array
          description: Model profiles produced during the match, oldest first.
          items: { $ref: "#/components/schemas/ModelProfile" }
        meta:
          type: object
          properties:
            match_id: { type: integer }
            rows: { type: integer }
            from_archive:
              type: boolean
              description: >-
                True when the tape was served from the immutable archive
                rather than the live-score table. Content is identical.
            generated_at: { type: string, format: date-time }
    HistoryPackage:
      type: object
      description: >-
        Manifest of one pre-built monthly bulk package (PRO, Historical Data
        API Pro+, or a one-off package pass).
      properties:
        period:
          type: string
          description: Calendar month, `YYYY-MM`.
        status: { type: string, enum: [ready] }
        match_count: { type: integer }
        row_count: { type: integer }
        files:
          type: array
          description: One entry per downloadable format.
          items:
            type: object
            properties:
              format: { type: string, enum: [jsonl, csv] }
              filename: { type: string }
              bytes: { type: integer }
              sha256: { type: string }
        built_at: { type: [string, "null"], format: date-time }
    BreakPoint:
      type: object
      description: >-
        WebSocket `break_point` frame (ULTRA). Pushed the instant a break point
        arises, but only when the subscription named `break_point` in its
        `signals`. Fields sit inline (no nested score object); `prob_swing`
        mirrors the REST score's `danger`. `server` is the player serving,
        `returner` the one holding the break point(s).
      properties:
        type: { type: string, const: break_point }
        match_id: { type: integer }
        server: { type: [integer, "null"], enum: [1, 2, null] }
        returner: { type: [integer, "null"], enum: [1, 2, null] }
        break_points:
          type: [integer, "null"]
          description: How many break points are live at once (1-3).
        set: { type: [integer, "null"] }
        game: { type: [integer, "null"] }
        point: { type: [string, "null"] }
        win_probability_p1: { type: [number, "null"] }
        prob_swing: { type: [number, "null"] }
        server_side_favoured: { type: [boolean, "null"] }
        ts: { type: [string, "null"], format: date-time }
    BreakPointResult:
      type: object
      description: >-
        WebSocket `break_point_result` frame (ULTRA): a break point just
        resolved. `outcome` is `held` (server saved it) or `broken` (returner
        converted); `win_probability_p1_after` is p1's win probability once the
        game closed.
      properties:
        type: { type: string, const: break_point_result }
        match_id: { type: integer }
        server: { type: [integer, "null"], enum: [1, 2, null] }
        outcome: { type: string, enum: [held, broken] }
        win_probability_p1_after: { type: [number, "null"] }
        ts: { type: [string, "null"], format: date-time }
